/*styles.css*/

* {
    font-family: Arial; /*cough i know no fonts*/
}

.grid {
    display: grid;
    grid-template-columns: 160px 100px; /*random values*/
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board{
    border: solid 2px;
}
