/*styles.css*/

* {
    font-family: Arial; /*cough i know no fonts*/
}

.grid {
    display: grid;
    grid-template-columns: 320px 200px; /*random values*/
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board{
    border: solid 2px;
}

.play-button{
    background-color: green;
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
}
